.Footer-Section {
  height: 160px;
  background-color: black;
  color: white;
  font-family: helvetica;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  
}

.Footer-Section ul {
  padding-top: 25px;
}

.Footer-Section li {
  padding: 10px;
}
