.ImageView {
  font-family: helvetica;
  color: dark-gray;
  margin: auto;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5.25rem);
  position: relative;
}

.ImageView img {
  height: 80%
}

.ImageView-text{
  position: absolute;
  padding: 40px;
  align-items: left;
  text-align: left;


}

.ImageView-text h1 {
  font-weight: bold;
  padding: 5px 0px ;
}

.ImageView-text p {
  font-weight: normal;
    padding: 5px 0px;
}

.ImageView-button {
  padding: 5px;
  background-color: #c8c8c8;
  font-size: 14px;
  font-family: helvetica;
  font-weight: normal;
  border: none;
  color: dark-gray;
  font-size: 14px;
  display: flex;
  padding: 14px;
  margin: auto;
  justify-content: center;
  text-align: center;
  width: 200px;
  cursor: pointer;
}
