.HomePage {
  width: 100%;
  height: 100%;
  display: flex;
  height: calc(100vh - 5.25rem)
}

.SectionOne {
  background-image: url("https://s3.amazonaws.com/pxco-dev/users/images/000/000/021/original/ana1.png");
  background-size: cover;
  object-fit: cover;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.hoverSOne {
  background-image: url("https://s3.amazonaws.com/pxco-dev/users/images/000/000/021/original/anahover2.png");
  background-size: cover;
  object-fit: cover;
  width: 50%;
  height: 100%;
  overflow: hidden;
  width: 100%;
  opacity: 0;
}
.hoverSOne:hover {
  background-image: url("https://s3.amazonaws.com/pxco-dev/users/images/000/000/021/original/anahover2.png");
  background-size: cover;
  object-fit: cover;
  width: 50%;
  height: 100%;
  overflow: hidden;
  width: 100%;
  opacity: 1;
}




.HomeLeft {
    height: calc(100vh - 5.25rem);
    width: 50%;
}

.SectionTwo {
  background-image: url("https://s3.amazonaws.com/pxco-dev/users/images/000/000/021/original/gym1.jpg");
  background-size: 100%;
  object-fit: cover;
  background-position: center;
  overflow: hidden;
  top: 0%;
  left: 50%;
  height: 50%;
  width: 100%;
  display:flex;
  align-items:center;
  justify-content:center;

}

.SectionTwo img {
  width: 100%;
  opacity: 0;
}

.SectionTwo img:hover {
  width: 100%;
  opacity: 1;
}



.SectionThree {
  background-image: url('https://s3.amazonaws.com/pxco-dev/users/images/000/000/021/original/lines-artist.png');
  background-size: cover;
  object-fit: cover;
  background-size: 100%;
  background-position: center;
  top: 50%;
  left: 50%;
  height: 50%;
  overflow: hidden;
}

.hoverSThree {
  background-image: url("https://s3.amazonaws.com/pxco-dev/users/images/000/000/021/original/lines-hover.png");
  background-size: cover;
  object-fit: cover;
  background-size: 100%;
  background-position: center;
  top: 50%;
  left: 50%;
  height: 50%;
  overflow: hidden;
  opacity: 0;
}
.hoverSThree:hover {
  background-image: url("https://s3.amazonaws.com/pxco-dev/users/images/000/000/021/original/lines-hover.png");
  background-size: cover;
  object-fit: cover;
  background-size: 100%;
  background-position: center;
  top: 50%;
  left: 50%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
}
