.greeting-links {
  font-family: helvetica;
  font-weight: normal;
  color: dark-gray;
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  font-size: 14px;
}

.signup {
  padding-left: 20px;
}

.greeting-links a:hover {
  color: gray;
}

.logout-button {
  background-color: white;
  border: none;
  font-family: helvetica;
  font-weight: normal;
  color: dark-gray;
  font-size: 14px;
  padding-top: 0px !important;
  padding-left: 20px;
}

.logout-button:hover {
    color: gray;
    cursor: pointer;
}

.right-side-in {
  display: flex;
  align-items: flex-start;

}

.username-link {
  padding-top: 2px;
}
