.greeting-links {
  font-family: helvetica;
  font-weight: normal;
  color: gray;
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 45px;
}

.signup {
  padding-left: 20px;
}
