.login-form-big {
  // display: flex;
  font-family: helvetica;
  font-weight: normal;
  color: dark-gray;
  margin: auto;
  width: 250px;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  height: calc(100vh - 5.25rem)
}

.login-form {
  padding-top: 30px;
  height: 80%;
}

.login-logo-image {
  background: url(/assets/images('pxco.png'));
}

input[type=text],[type=password] {
    border: none;
    border-bottom: 1px solid grey;
    font-size: 14px;
    font-weight: lighter;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.submit-button {
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
}

input[type=submit] {
  background-color: #c8c8c8;
  border: none;
  color: dark-gray;
  padding: 14px 39px 14px 39px;
  font-size: 14px;


}

.demo-button {

  background-color: #c8c8c8;
  border: none;
  color: dark-gray;
  padding: 14px 22px 14px 22px;
  font-size: 14px;
  display: flex;
  float: right;
}
