.profile-page {
  padding: 2% 4% 4% 4%;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.profile-username {
  font-size: 16px;
  font-family: helvetica;
  font-weight: normal;
  color: dark-gray;
  padding: 15px;
  font-weight: bold;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit:cover;

}

.profile-bio {
    font-size: 14px;
    font-family: helvetica;
    font-weight: normal;
    color: dark-gray;
    padding: 50px;
}

.profile-feed {}

.no-post {
  font-size: 14px;
  font-family: helvetica;
  font-weight: normal;
  color: gray;
  padding: 200px;

}

.edit-button-profile {
  background-color: #c8c8c8;
  font-size: 14px;
  font-family: helvetica;
  font-weight: normal;
  border: none;
  color: dark-gray;
  font-size: 14px;
  display: flex;
  padding: 14px;
  margin: auto;
  text-align: center;
  width: 200px;
  justify-content: center;
}

.profile-links  {
  display: flex;
  font-size: 14px;
  font-family: helvetica;
  font-weight: bold;
  color: dark-gray;
  padding: 60px 30px;
  width: 200px;
  margin:auto;
  justify-content: space-between;


}

.p-links-select {
  font-size: 14px;
  font-family: helvetica;
  font-weight: normal;
  color: gray;


}
