.profile-page {
  padding: 2% 4% 4% 4%;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.profile-username {
  font-size: 14px;
  font-family: helvetica;
  font-weight: normal;
  color: dark-gray;
  padding: 15px;
  font-weight: bold;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit:fill;

}

.profile-bio {
    font-size: 14px;
    font-family: helvetica;
    font-weight: normal;
    color: dark-gray;
    padding: 80px;
}

.profile-feed {}

.no-post {
  font-size: 14px;
  font-family: helvetica;
  font-weight: normal;
  color: gray;
  padding: 200px;

}
