.profile-update-form {
  padding: 100px 4% 4% 4%;
  margin: auto;
  text-align: center;
  justify-content: center;
  font-size: 14px;
  font-family: helvetica;
  font-weight: normal;
  color: dark-gray;
  width: 250px;
    height: calc(100vh - 5.25rem);

}

.profile-username {
  font-size: 14px;
  font-family: helvetica;
  font-weight: normal;
  color: dark-gray;
  padding: 15px;
  font-weight: bold;
}

.edit-avatar {
  padding-top: 30px;
  padding-bottom: 30px;
}

.og-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  position:relative;
  top: 0px;

}

.new-avatar {
  width: 202px;
  height: 202px;
  border-radius: 50%;
  object-fit:cover;
  position: absolute;
  top: 292px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}


.update-text-input {
  border: none;
  border-bottom: 1px solid grey;
  font-size: 14px;
  font-weight: lighter;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;

}



.edit-button {
  background-color: #c8c8c8;
  border: none;
  color: dark-gray;
  font-size: 14px;
  display: flex;
  padding: 14px;
  margin: auto;
    cursor: pointer;
    float: right;
margin-top: 10px;
}
